@import 'src/styles/variables';

.button {
  background-color: $primary-color;
  font-size: $font-size-base;
}

// Couleurs principales
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;

// Tailles
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;

// Marges, paddings
$spacing-base: 1rem;
$spacing-large: 2rem;
